<?xml version="1.0"?>
<configuration>
  <servers>
    <!--<server id="0" used="true" hostip="192.168.16.4" startdirname="Files" username="administrator" password="19850222" serverurl="http://192.168.16.4:8085"/>-->
    <server id="0" used="false" hostip="110.76.43.68" startdirname="ppd_img" username="administrator" password="19860912cxl" serverurl="http://img01.pinpaide.com"/>
    <!--<server id="0" used="true" hostip="192.168.0.4" startdirname="Files" username="administrator" password="19850222" serverurl="http://localhost:8085"/>-->
    <!--<server id="1" used="true" hostip="192.168.0.247" startdirname="共享" username="administrator" password="1@1.com"  serverurl="http://192.168.0.247:8001"/>

    -->
    <!--<server id="2" used="true" hostip="192.168.1.102" startdirname="ppd_img" username="administrator" password=""  serverurl="http://img01.pinpaide.cn"/>-->
    <server id="2" used="true" hostip="192.168.8.10" startdirname="ppd_img" username="administrator" password=""  serverurl="http://img01.pinpaide.cn"/>
    <!--
    <server id="2" used="true" hostip="192.168.0.247" startdirname="共享" username="administrator" password="1@1.com"  serverurl="http://192.168.0.247:8001"/>
    <server id="3" used="true" hostip="192.168.0.247" startdirname="共享" username="administrator" password="1@1.com"  serverurl="http://192.168.0.247:8001"/>-->
  </servers>
</configuration>
